.idea/
.vscode/

.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

tests/
docs/
*.md

.env
.env.*
!.env.template
!.logging.yaml
!docker-compose.yaml

.git
.gitignore
.gitattributes
.pre-commit-config.yaml
.python-version
